<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="container-fluid">
  <div class="form-group">
    <label for="customer-id">Identifiant du Client</label>
    <input formControlName="customerId" type="number" class="form-control" id="customer-id">
  </div>

  <div class="alert alert-danger"
       *ngIf="orderForm.get('customerId')?.hasError('required')
         && orderForm.get('customerId')?.touched">
    Champs Requis
  </div>

  <div class="form-group">
    <label for="total-excl-tax">Total HT</label>
    <input formControlName="totalExclTax" type="number" class="form-control" id="total-excl-tax">
  </div>

  <div class="alert alert-danger"
       *ngIf="orderForm.get('totalExclTax')?.hasError('required')
         && orderForm.get('totalExclTax')?.touched">
    Champs Requis
  </div>

  <div class="form-group">
    <label for="order-date">Date de Commande</label>
    <input formControlName="ordersDate" type="date" class="form-control" id="order-date">
  </div>

  <div class="form-check">
    <label for="delivery-status" class="form-check-label">Commande livrée</label>
    <input formControlName="deliveryStatus" type="checkbox" class="form-check-input" id="delivery-status">
  </div>

  <div class="form-check">
    <label for="payment-status" class="form-check-label">Commande payée</label>
    <input formControlName="paymentStatus" type="checkbox" class="form-check-input" id="payment-status">
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>
