
<div class="offcanvas offcanvas-start bg-light" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Acme</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['users']" [routerLinkActive]="'active'">Utilisateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['customers']" [routerLinkActive]="'active'">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['orders']" [routerLinkActive]="'active'">Commandes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['products']" [routerLinkActive]="'active'">Produits</a>
      </li>
    </ul>
  </div>
</div>
