<div class="container-xl">
<h1>Liste des commandes</h1>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <div></div>
    <div class="d-flex" role="search">
      <input [(ngModel)]="searchTerm"  class="form-control me-2" type="search" placeholder="Tapez votre recherche ici .." aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">Rechercher</button>
    </div>
  </div>
</nav>
  <app-table [headers]="ordersHeaders">

    <tr *ngFor="let order of ($orders | async | filter:searchTerm)" >
      <th scope="row">{{ order.id }}</th>
      <td>{{ order.customerId }}</td>
      <td>{{ order.totalExclTax }}</td>
      <td>{{ order.ordersDate }}</td>
      <td>{{ order.deliveryStatus }}</td>
      <td>{{ order.paymentStatus }}</td>

      <div class="button">
        <app-edit class="edit" [routerLink]="['edit/'+order.id]"></app-edit>
        <app-delete (click)="deleteConfirm(order.id)"></app-delete>
      </div>

  </app-table>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <app-add [routerLink]="['add']"></app-add>
    <p> Ajouter commande</p>
  </div>
</div>
