<div class="container-xl">
<h1>Liste des utilisateurs</h1>
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <div></div>
      <div class="d-flex" role="search">
        <input [(ngModel)]="searchTerm"  class="form-control me-2" type="search" placeholder="Tapez votre recherche ici .." aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Rechercher</button>
      </div>
    </div>
  </nav>
  <app-table [headers]="usersHeaders">
    <tr *ngFor="let user of ($users | async | filter:searchTerm)">
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.type }}</td>
      <div class="button">
        <app-edit class="edit" [routerLink]="['edit/'+user.id]"></app-edit>
        <app-delete (click)="deleteConfirm(user.id)"></app-delete>
      </div>
    </tr>

  </app-table>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <app-add [routerLink]="['add']"></app-add>
    <p> Ajouter user</p>
  </div>
</div>
