<script src="../../../core/models/product.ts"></script>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="container-fluid">
  <div class="form-group">
    <label for="name">Nom</label>
    <input formControlName="name" type="text" class="form-control" id="name">
  </div>

  <div class="alert alert-danger"
       *ngIf="productForm.get('name')?.hasError('required')
         && productForm.get('name')?.touched">
    Champ requis
  </div>


  <div class="form-group">
    <label for="priceExclTax">Prix HT</label>
    <input formControlName="priceExclTax" type="number" class="form-control" id="priceExclTax">
  </div>

  <div class="alert alert-danger"
       *ngIf="productForm.get('priceExclTax')?.hasError('required')
         && productForm.get('priceExclTax')?.touched">
    Champ requis
  </div>


  <div class="form-group">
    <label for="taxRate">TVA</label>
    <input formControlName="taxRate" type="number" class="form-control" id="taxRate">
  </div>


  <div class="alert alert-danger"
       *ngIf="productForm.get('taxRate')?.hasError('required')
         && productForm.get('taxRate')?.touched">
    Champ requis
  </div>


  <button type="submit" class="btn btn-primary">Envoyer</button>

</form>

