  <div class="container-xl">
<h1>Liste des clients</h1>
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <div></div>
      <div class="d-flex" role="search">
        <input [(ngModel)]="searchTerm" class="form-control me-2" type="search" placeholder="Tapez votre recherche ici .." aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Rechercher</button>
      </div>
    </div>
  </nav>
  <app-table [headers]="customersHeaders">


  <ng-container *ngIf="$customers | async as customers; else loading ">
    <tr *ngFor="let customer of customers | filter:searchTerm" >
      <th scope="row">{{ customer.id }}</th>
      <td>{{ customer.firstname }}</td>
      <td>{{ customer.lastname }}</td>
      <td>{{ customer.company }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.active }}</td>
      <div class="button">
        <app-edit class="edit" [routerLink]="['edit/'+customer.id]"></app-edit>
        <app-delete (click)="deleteConfirm(customer.id)"></app-delete>
      </div>
    </tr>
  </ng-container>

  <ng-template #loading>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>

</app-table>


<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <app-add [routerLink]="['add']"></app-add>
  <p> Ajouter client</p>
</div>
  </div>









