.d-grid {
  padding-right: 3em;
  padding-top: 2em;
}

.button {
  padding-top: 1em;
}

.edit {
  padding-right: 1em;
}

.table {
  padding-left: 5em;
}

h1 {
  text-align: center;
  padding-bottom: 2em;
  padding-top: 1em;
}
