<nav class="navbar bg-light">
  <div class="container-fluid">
    <button class="btn btn-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><app-burger></app-burger></button>
    <a class="navbar-brand"[routerLink]="['']" >Acme</a>
    <a class="nav-link" (click)="logout()">Déconnexion</a>
  </div>
</nav>
