<div class="d-flex align-items-center justify-content-center container-div">
<app-form-users *ngIf="$user | async as user"
                   [initUser]="user"
                   (submittedUser)="editUser($event)">
  </app-form-users>
</div>
