<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="container-fluid">
  <h1>Créer un compte</h1>
  <div class="form-group">
    <label for="username">Nom de l'Utilisateur</label>
    <input formControlName="username" type="text" class="form-control" id="username">
  </div>

  <div class="alert alert-danger"
       *ngIf="userForm.get('username')?.hasError('required')
         && userForm.get('username')?.touched">
    Champs Requis
  </div>

  <div class="form-group">
    <label for="password">Mot de Passe</label>
    <input formControlName="password" type="password" class="form-control" id="password">
  </div>

  <div class="alert alert-danger"
       *ngIf="userForm.get('password')?.hasError('required')
         && userForm.get('password')?.touched">
    Champs Requis
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email">
  </div>

  <div class="alert alert-danger"
       *ngIf="userForm.get('email')?.hasError('required')
         && userForm.get('email')?.touched">
    Champs Requis
  </div>

  <button class="btn btn-primary" type="submit">Valider</button>
</form>
