<div class="d-flex align-items-center justify-content-center container-div">
  <app-form-orders *ngIf="$order | async as order"
                   [initOrder]="order"
                   (submittedOrder)="editOrder($event)">
  </app-form-orders>
</div>
