<app-layout>
  <app-header class="tr-header"></app-header>
  <app-burger class="tr-open"></app-burger>
  <app-close class="tr-close"></app-close>
  <app-nav class="tr-nav"></app-nav>
  <router-outlet class="tr-content"></router-outlet>
  <app-footer class="tr-footer"></app-footer>
</app-layout>
