<form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="container-fluid">
    <div class="form-group">
      <label for="nom" class="label">Nom</label>
      <input type="text" formControlName="firstname" class="form-control" id="nom">
    </div>
    <div class="alert alert-danger"
         *ngIf="customerForm.get('firstname')?.hasError('required')
         && customerForm.get('firstname')?.touched">
      Champs requis
    </div>
    <div class="form-group">
      <label for="prenom" class="label">Prenom</label>
      <input type="text" formControlName="lastname" class="form-control" id="prenom" >
    </div>
    <div class="alert alert-danger"
         *ngIf="customerForm.get('lastname')?.hasError('required')
         && customerForm.get('lastname')?.touched">
      Champs requis
    </div>
    <div class="form-group">
      <label for="societe" class="label">Société</label>
      <input type="text" formControlName="company" class="form-control" id="societe">
    </div>
    <div class="form-group">
      <label for="email" class="label">E-mail</label>
      <input type="email" formControlName="email" class="form-control" id="email">
    </div>
    <div class="alert alert-danger"
         *ngIf="customerForm.get('email')?.hasError('required')
         && customerForm.get('email')?.touched">
      Champs requis
    </div>
    <div class="form-group">
      <label for="telephone" class="label">Telephone</label>
      <input type="tel" formControlName="phone" class="form-control" id="telephone">
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">Actif</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">Pas actif</label>
    </div>
    <div class="alert alert-danger"
         *ngIf="customerForm.get('active')?.hasError('required')
         && customerForm.get('active')?.touched">
      Champs requis
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Valider</button>
    </div>
  </form>


