<table class="table table-hover">
  <thead>
  <tr >
    <th scope="col" *ngFor="let header of headers"> {{header}}</th>
  </tr>
  </thead>
  <tbody>
  <ng-content></ng-content>

  </tbody>

</table>

