:root {
  --app-button: #B02123;
  --app-primary-dark: #4E1818;
  --app-secondary: #147297;

  --app-dark: #2a2a2a;
  --app-light: #ffffff;
  --app-darklight: #ebedf2;
  --app-darklight2: #bebdbd;

  --app-red: #e2445c;
  --app-blue: #507DBC;
  --app-blue-form: #A1C6EA;
  --app-grey: #7099bd;

}
