<div class="d-flex align-items-center justify-content-center container-div">
  <form [formGroup]="userForm" class="container">
    <h1>Connexion</h1>
    <div class="form-group">
      <label for="username">Nom de l'Utilisateur</label>
      <input formControlName="username" type="text" class="form-control" id="username">
    </div>

    <div class="alert alert-danger"
         *ngIf="userForm?.get('username')?.hasError('required')
         && userForm?.get('username')?.touched">
      Champs Requis
    </div>

    <div class="form-group">
      <label for="password">Mot de Passe</label>
      <input formControlName="password" type="password" class="form-control" id="password">
    </div>

    <button class="btn btn-primary" (click)="authenticate()">Se connecter</button>

    <button class="btn btn-danger" [routerLink]="['/login/signup']" >Créer un compte</button>

  </form>
</div>
