<div class="container-xl">
<h1>Liste des produits</h1>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <div></div>
    <div class="d-flex" role="search">
      <input [(ngModel)]="searchTerm" class="form-control me-2" type="search" placeholder="Tapez votre recherche ici .." aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">Rechercher</button>
    </div>
  </div>
</nav>
<div class="table">
  <app-table [headers]="productsHeaders">


    <tr *ngFor="let product of ($products | async | filter:searchTerm)">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.priceExclTax }}</td>
      <td>{{ product.taxRate }}</td>
      <div class="button">
        <app-edit class="edit" [routerLink]="['edit/'+product.id]"></app-edit>
        <app-delete (click)="deleteConfirm(product.id)"></app-delete>
      </div>
    </tr>

  </app-table>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <app-add [routerLink]="['add']"></app-add>
  <p> Ajouter produit</p>
</div>
</div>




